name: Cargo Lint, Build & Test

on:
  push:
    branches:
      - main
    paths:
      - '**.rs'
      - '**Cargo.toml'
  pull_request:
    paths:
      - '**.rs'
      - '**Cargo.toml'

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v5
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy, rustfmt
      - run: sudo apt install -y libwayland-dev wayland-protocols libxkbcommon-dev
      - run: cargo fmt --all --check
      - run: cargo clippy --workspace  --all-targets --all-features --  -D warnings
      - run: cargo build --workspace --verbose
      - run: cargo test --workspace --all-features --verbose

